# Project Notebook: Optimizing DataFrames and Processing in Chunks

## 1. Introduction

In this project, we'll practice working with chunked dataframes and optimizing a dataframe's memory usage. We'll be working with financial lending data from Lending Club, a marketplace for personal loans that matches borrowers with investors. You can read more about the marketplace on its website.

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to fund. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges.

We'll be working with a dataset of loans approved from 2007-2011 (https://bit.ly/3H2XVgC). We've already removed the desc column for you to make our system run more quickly.

If we read in the entire data set, it will consume about 67 megabytes of memory. Let's imagine that we only have 10 megabytes of memory available throughout this project, so you can practice the concepts you learned in the last two lessons.

**Tasks**

1. Read in the first five lines from `loans_2007.csv` (https://bit.ly/3H2XVgC) and look for any data quality issues.

2. Read in the first 1000 rows from the data set, and calculate the total memory usage for these rows. Increase or decrease the number of rows to converge on a memory usage under five megabytes (to stay on the conservative side).

In [125]:
# Importing pandas
import pandas as pd
pd.options.display.max_columns = 99

# Your code goes here

loans = pd.read_csv('https://bit.ly/3H2XVgC', nrows=5)

loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Read the first 1000 rows and calculate memory usage.

loan_1000 = pd.read_csv('https://bit.ly/3H2XVgC', nrows=1000)
print(loan_1000.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   949 non-null    object
 11  emp_length                  983 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  1000 non-null   object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                999 non-null    object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 406.4+ KB
None

In [ ]:
# Read the first n rows and check how many lines consume just below 5MB.
# 12000 rows consume 4.8+ MB

loan_n = pd.read_csv('https://bit.ly/3H2XVgC', nrows=12000)
print(loan_n.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          12000 non-null  int64
 1   member_id                   12000 non-null  float64
 2   loan_amnt                   12000 non-null  float64
 3   funded_amnt                 12000 non-null  float64
 4   funded_amnt_inv             12000 non-null  float64
 5   term                        12000 non-null  object
 6   int_rate                    12000 non-null  object
 7   installment                 12000 non-null  float64
 8   grade                       12000 non-null  object
 9   sub_grade                   12000 non-null  object
 10  emp_title                   11213 non-null  object
 11  emp_length                  11570 non-null  object
 12  home_ownership              12000 non-null  object
 13  annual_inc                  12000 non-null  float64
 14  verification_status         12000 non-null  object
 15  issue_d                     12000 non-null  object
 16  loan_status                 12000 non-null  object
 17  pymnt_plan                  12000 non-null  object
 18  purpose                     12000 non-null  object
 19  title                       12000 non-null  object
 20  zip_code                    12000 non-null  object
 21  addr_state                  12000 non-null  object
 22  dti                         12000 non-null  float64
 23  delinq_2yrs                 12000 non-null  float64
 24  earliest_cr_line            12000 non-null  object
 25  inq_last_6mths              12000 non-null  float64
 26  open_acc                    12000 non-null  float64
 27  pub_rec                     12000 non-null  float64
 28  revol_bal                   12000 non-null  float64
 29  revol_util                  11996 non-null  object
 30  total_acc                   12000 non-null  float64
 31  initial_list_status         12000 non-null  object
 32  out_prncp                   12000 non-null  float64
 33  out_prncp_inv               12000 non-null  float64
 34  total_pymnt                 12000 non-null  float64
 35  total_pymnt_inv             12000 non-null  float64
 36  total_rec_prncp             12000 non-null  float64
 37  total_rec_int               12000 non-null  float64
 38  total_rec_late_fee          12000 non-null  float64
 39  recoveries                  12000 non-null  float64
 40  collection_recovery_fee     12000 non-null  float64
 41  last_pymnt_d                11979 non-null  object
 42  last_pymnt_amnt             12000 non-null  float64
 43  last_credit_pull_d          12000 non-null  object
 44  collections_12_mths_ex_med  12000 non-null  float64
 45  policy_code                 12000 non-null  float64
 46  application_type            12000 non-null  object
 47  acc_now_delinq              12000 non-null  float64
 48  chargeoff_within_12_mths    12000 non-null  float64
 49  delinq_amnt                 12000 non-null  float64
 50  pub_rec_bankruptcies        12000 non-null  float64
 51  tax_liens                   12000 non-null  float64
dtypes: float64(30), int64(1), object(21)
memory usage: 4.8+ MB
None

## 2. Exploring the Data in Chunks

Let's familiarize ourselves with the columns to see which ones we can optimize. In the first lesson, we explored column types by reading in the full dataframe. In this project, let's try to understand the column types better while using dataframe chunks.

**Tasks**

For each chunk:
* How many columns have a numeric type? 
* How many have a string type?
* How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
* Which float columns have no missing values and could be candidates for conversion to the integer type?
* Calculate the total memory usage across all of the chunks.

In [20]:
# How many columns have numeric data types for each chunk?

chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
for chunk in chunk_iter:
  cols_numeric = chunk.select_dtypes(include=['float64', 'int64']).columns
  print(len(cols_numeric))

31
31
31
30

In [49]:
# How many columns have string data types for each chunk?

chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
for chunk in chunk_iter:
  cols_string = chunk.select_dtypes(include=['object']).columns
  print(len(cols_string))

21
21
21
22

In [63]:
# How many unique values are there in each string column?
chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
for chunk in chunk_iter:
  for col in chunk.select_dtypes(include=['object']):
    num_unique_values = len(chunk[col].unique())
    num_total_values = len(chunk[col])
    print(f"{col}: {num_unique_values}")

term: 2
int_rate: 72
grade: 7
sub_grade: 35
emp_title: 9676
emp_length: 12
home_ownership: 3
verification_status: 3
issue_d: 6
loan_status: 6
pymnt_plan: 1
purpose: 13
title: 4866
zip_code: 730
addr_state: 45
earliest_cr_line: 476
revol_util: 1032
initial_list_status: 1
last_pymnt_d: 60
last_credit_pull_d: 60
application_type: 1
term: 2
int_rate: 132
grade: 7
sub_grade: 35
emp_title: 9571
emp_length: 12
home_ownership: 4
verification_status: 3
issue_d: 9
loan_status: 7
pymnt_plan: 1
purpose: 13
title: 6325
zip_code: 727
addr_state: 43
earliest_cr_line: 473
revol_util: 1036
initial_list_status: 1
last_pymnt_d: 68
last_credit_pull_d: 67
application_type: 1
term: 2
int_rate: 144
grade: 7
sub_grade: 35
emp_title: 9728
emp_length: 12
home_ownership: 4
verification_status: 3
issue_d: 17
loan_status: 4
pymnt_plan: 2
purpose: 14
title: 7992
zip_code: 707
addr_state: 44
earliest_cr_line: 460
revol_util: 1023
initial_list_status: 1
last_pymnt_d: 80
last_credit_pull_d: 84
application_type: 1
id: 6538
term: 3
int_rate: 285
grade: 8
sub_grade: 36
emp_title: 5422
emp_length: 12
home_ownership: 6
verification_status: 4
issue_d: 44
loan_status: 5
pymnt_plan: 2
purpose: 15
title: 4759
zip_code: 723
addr_state: 51
earliest_cr_line: 428
revol_util: 1028
initial_list_status: 2
last_pymnt_d: 98
last_credit_pull_d: 109
application_type: 2

In [62]:
# How many of the string columns contain values that are less than 50% unique?

chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
for chunk in chunk_iter:
  for col in chunk.select_dtypes(include=['object']):
    num_unique_values = len(chunk[col].unique())
    num_total_values = len(chunk[col])
    if num_unique_values / num_total_values < 0.5:
        print(f"{col}: {num_unique_values/num_total_values}")

term: 0.00016666666666666666
int_rate: 0.006
grade: 0.0005833333333333334
sub_grade: 0.002916666666666667
emp_length: 0.001
home_ownership: 0.00025
verification_status: 0.00025
issue_d: 0.0005
loan_status: 0.0005
pymnt_plan: 8.333333333333333e-05
purpose: 0.0010833333333333333
title: 0.4055
zip_code: 0.060833333333333336
addr_state: 0.00375
earliest_cr_line: 0.03966666666666667
revol_util: 0.086
initial_list_status: 8.333333333333333e-05
last_pymnt_d: 0.005
last_credit_pull_d: 0.005
application_type: 8.333333333333333e-05
term: 0.00016666666666666666
int_rate: 0.011
grade: 0.0005833333333333334
sub_grade: 0.002916666666666667
emp_length: 0.001
home_ownership: 0.0003333333333333333
verification_status: 0.00025
issue_d: 0.00075
loan_status: 0.0005833333333333334
pymnt_plan: 8.333333333333333e-05
purpose: 0.0010833333333333333
zip_code: 0.060583333333333336
addr_state: 0.0035833333333333333
earliest_cr_line: 0.03941666666666667
revol_util: 0.08633333333333333
initial_list_status: 8.333333333333333e-05
last_pymnt_d: 0.005666666666666667
last_credit_pull_d: 0.005583333333333333
application_type: 8.333333333333333e-05
term: 0.00016666666666666666
int_rate: 0.012
grade: 0.0005833333333333334
sub_grade: 0.002916666666666667
emp_length: 0.001
home_ownership: 0.0003333333333333333
verification_status: 0.00025
issue_d: 0.0014166666666666668
loan_status: 0.0003333333333333333
pymnt_plan: 0.00016666666666666666
purpose: 0.0011666666666666668
zip_code: 0.058916666666666666
addr_state: 0.0036666666666666666
earliest_cr_line: 0.03833333333333333
revol_util: 0.08525
initial_list_status: 8.333333333333333e-05
last_pymnt_d: 0.006666666666666667
last_credit_pull_d: 0.007
application_type: 8.333333333333333e-05
term: 0.0004588559192413582
int_rate: 0.04359131232792903
grade: 0.001223615784643622
sub_grade: 0.005506271030896299
emp_length: 0.0018354236769654328
home_ownership: 0.0009177118384827164
verification_status: 0.000611807892321811
issue_d: 0.00672988681553992
loan_status: 0.0007647598654022637
pymnt_plan: 0.0003059039461609055
purpose: 0.002294279596206791
zip_code: 0.11058427653716733
addr_state: 0.00780055062710309
earliest_cr_line: 0.06546344447843377
revol_util: 0.15723462832670543
initial_list_status: 0.0003059039461609055
last_pymnt_d: 0.014989293361884369
last_credit_pull_d: 0.01667176506576935
application_type: 0.0003059039461609055

In [64]:
# Which float columns have no missing values and could be candidates for conversion to the integer type?
chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
for chunk in chunk_iter:
  float_chunk = chunk.select_dtypes(include=['float64'])
  print(float_chunk.isnull().sum())

member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
installment                   0
annual_inc                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
installment                   0
annual_inc                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
installment                   0
annual_inc                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          3
tax_liens                     0
dtype: int64
member_id                        3
loan_amnt                        3
funded_amnt                      3
funded_amnt_inv                  3
installment                      3
annual_inc                       7
dti                              3
delinq_2yrs                     32
inq_last_6mths                  32
open_acc                        32
pub_rec                         32
revol_bal                        3
total_acc                       32
out_prncp                        3
out_prncp_inv                    3
total_pymnt                      3
total_pymnt_inv                  3
total_rec_prncp                  3
total_rec_int                    3
total_rec_late_fee               3
recoveries                       3
collection_recovery_fee          3
last_pymnt_amnt                  3
collections_12_mths_ex_med     148
policy_code                      3
acc_now_delinq                  32
chargeoff_within_12_mths       148
delinq_amnt                     32
pub_rec_bankruptcies          1365
tax_liens                      108
dtype: int64

All float columns have missing values.

In [70]:
# Calculate the total memory usage across all of the chunks.

memory_footprints = 0
chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
for chunk in chunk_iter:
    memory_footprints += (chunk.memory_usage(deep=True).sum()/(1024*1024))
print(f"{memory_footprints} MB")

65.3984727859497 MB

## 3. Optimizing String Columns

We can achieve the greatest memory improvements by converting the string columns to a numeric type. Let's convert all of the columns where the values are less than 50% unique to the category type, and the columns that contain numeric values to the `float` type.

While working with dataframe chunks:
* Determine which string columns you can convert to a numeric type if you clean them. For example, the `int_rate` column is only a string because of the % sign at the end.
* Determine which columns have a few unique values and convert them to the category type. For example, you may want to convert the grade and `sub_grade` columns.
Based on your conclusions, perform the necessary type changes across all chunks. * Calculate the total memory footprint, and compare it with the previous one.

In [118]:
# Convert string columns to numeric type (float)

chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
memory_footprints = 0
for chunk in chunk_iter:
  chunk['term'] = chunk['term'].str.replace(' months', '')
  chunk['int_rate'] = chunk['int_rate'].str.replace('%', '')
  chunk['zip_code'] = chunk['zip_code'].str.replace('xx', '')
  chunk['revol_util'] = chunk['revol_util'].str.replace('%', '')

  cols = ['term', 'int_rate', 'zip_code', 'revol_util']
  for col in cols:
    chunk[col] = chunk[col].astype('float')

# Convert string columns that contain values that are less than 50% unique to category type

  for col in chunk.select_dtypes(include=['object']):
    num_unique_values = len(chunk[col].unique())
    num_total_values = len(chunk[col])
    if num_unique_values / num_total_values < 0.5:
        chunk[col] = chunk[col].astype('category')

  memory_footprints += (chunk.memory_usage(deep=True).sum()/(1024*1024))
print(f"{memory_footprints} MB")

18.255578994750977 MB

There is a drastic reduction in memory as compared to before.

## 4. Optimizing Numeric Columns

It looks like we were able to realize some powerful memory savings by converting to the category type and converting string columns to numeric ones.

Now let's optimize the numeric columns using the `pandas.to_numeric()` function.

**Tasks**

While working with dataframe chunks:
* Identify float columns that contain missing values, and that we can convert to a more space efficient subtype.
* Identify float columns that don't contain any missing values, and that we can convert to the integer type because they represent whole numbers.
* Based on your conclusions, perform the necessary type changes across all chunks.
* Calculate the total memory footprint and compare it with the previous one.

In [121]:
# Your code goes here

chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
memory_footprints = 0
for chunk in chunk_iter:
  chunk['term'] = chunk['term'].str.replace(' months', '')
  chunk['int_rate'] = chunk['int_rate'].str.replace('%', '')
  chunk['zip_code'] = chunk['zip_code'].str.replace('xx', '')
  chunk['revol_util'] = chunk['revol_util'].str.replace('%', '')

  cols = ['term', 'int_rate', 'zip_code', 'revol_util']
  for col in cols:
    chunk[col] = chunk[col].astype('float')

# Convert string columns that contain values that are less than 50% unique to category type

  for col in chunk.select_dtypes(include=['object']):
    num_unique_values = len(chunk[col].unique())
    num_total_values = len(chunk[col])
    if num_unique_values / num_total_values < 0.5:
        chunk[col] = chunk[col].astype('category')

  float_chunk = chunk.select_dtypes(include=['float64'])
  #print(float_chunk.isnull().sum())
  
  # Float columns with no missing values to convert

  cols_float = ['member_id','loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','zip_code','dti','revol_bal','out_prncp','out_prncp_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_amnt','policy_code']
  for col in cols_float:
    chunk[col] = pd.to_numeric(chunk[col], downcast='float')
  memory_footprints += (chunk.memory_usage(deep=True).sum()/(1024*1024))
print(f"{memory_footprints} MB")

15.172456741333008 MB

There is a further reduction in memory usage by 3MB.

## Next Steps

We've practiced optimizing a dataframe's memory footprint and working with dataframe chunks. Here's an idea for some next steps:

Create a function that automates as much of the work you just did as possible, so that you could use it on other Lending Club data sets. This function should:

* Determine the optimal chunk size based on the memory constraints you provide.

* Determine which string columns can be converted to numeric ones by removing the `%` character.

* Determine which numeric columns can be converted to more space efficient representations.

In [124]:
def optimize_memory(csv_filename):
  chunk_iter = pd.read_csv('https://bit.ly/3H2XVgC', chunksize=12000)
  memory_footprints = 0
  for chunk in chunk_iter:
    chunk['term'] = chunk['term'].str.replace(' months', '')
    chunk['int_rate'] = chunk['int_rate'].str.replace('%', '')
    chunk['zip_code'] = chunk['zip_code'].str.replace('xx', '')
    chunk['revol_util'] = chunk['revol_util'].str.replace('%', '')
  

  cols = ['term', 'int_rate', 'zip_code', 'revol_util']
  for col in cols:
    chunk[col] = chunk[col].astype('float')

# Convert string columns that contain values that are less than 50% unique to category type

  for col in chunk.select_dtypes(include=['object']):
    num_unique_values = len(chunk[col].unique())
    num_total_values = len(chunk[col])
    if num_unique_values / num_total_values < 0.5:
        chunk[col] = chunk[col].astype('category')

  float_chunk = chunk.select_dtypes(include=['float64'])
  #print(float_chunk.isnull().sum())
  
  # Float columns with no missing values to convert

  cols_float = ['member_id','loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','zip_code','dti','revol_bal','out_prncp','out_prncp_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_amnt','policy_code']
  for col in cols_float:
    chunk[col] = pd.to_numeric(chunk[col], downcast='float')
  memory_footprints += (chunk.memory_usage(deep=True).sum()/(1024*1024))
  print(f"{memory_footprints} MB")